<%- include('partials/header') %>
<div class="card text-center">
    <h1>Task Management App!</h1>
    <p>Manage your tasks with secure login and registration.</p>
    <p>MongoDB for authentication, Postgres for your data.</p>
    <a href="/auth/login" class="btn btn-primary">Login</a>
    <a href="/auth/register" class="btn btn-purple">Register</a>
</div>
